.create-container {

	max-width: 1280px;
	margin: 120px auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}
.headertext {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
	width: 100%;
	background-color: #E6F0FF;
	color: #002E71;
	border-radius: 16px;
	padding: 10px;
	text-align: center;

}